# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# PostgreSQL files
*.sql
*.sqlite
*.db

# IDE-specific files
.idea/
.vscode/

# Build output
dist/
build/

# Optional: local configuration files
*.local